/* in the root we can specify variables */
:root{
    --board_size: 500px;
}

/* this is the design of the chess board, note the variables for width and height */
#Chess_board {
    display: grid;
    grid-template-columns: repeat(8, auto);
    width: var(--board_size);
    height: var(--board_size);
    background-color: black;
    border: 6px solid black;
}

/* design for the odd square, note the calculation of its width and height */
.white{
    display: table-cell;
    background-color: white;
    width: calc(var(--board_size) / 8) ;
    height: calc(var(--board_size) / 8) ;
    text-align: center;
    vertical-align: middle;
    line-height: calc(var(--board_size) / 8); 
}

/* design for the even square, note the calculation of its width and height */
.black{
    display: table-cell;
    background-color: #1266a6;
    width: calc(var(--board_size) / 8) ;
    height: calc(var(--board_size) / 8) ;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: calc(var(--board_size) / 8);
}

.Piece{
    height: calc(var(--board_size) / 10) ;
    width: calc(var(--board_size) / 10) ;
}